.image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.image--1 {
    background-image: url('../../storage/app/public/image1.png');
}
.image--2 {
    background-image: url('../../storage/app/public/image2.jpg');
}
.image--3 {
    background-image: url('../../storage/app/public/image3.png');
}
.image--4 {
    background-image: url('../../storage/app/public/image4.png');
}
.image--5 {
    background-image: url('../../storage/app/public/image5.png');
}
.image--6 {
    background-image: url('../../storage/app/public/image6.png');
}
.image--7 {
    background-image: url('../../storage/app/public/image7.png');
}
.image--8 {
    background-image: url('../../storage/app/public/image8.png');
}
.image--9 {
    background-image: url('../../storage/app/public/image9.png');
}
.image--10 {
    background-image: url('../../storage/app/public/image10.png');
}
.image--11 {
    background-image: url('../../storage/app/public/image11.png');
}
.image--12 {
    background-image: url('../../storage/app/public/image12.jpg');
}
.image--13 {
    background-image: url('../../storage/app/public/image13.jpg');
}
.image--14 {
    background-image: url('../../storage/app/public/image14.jpg');
}
.image--15 {
    background-image: url('../../storage/app/public/image15.jpg');
}