.logo {
    letter-spacing: 3px;
}
.logo__up {
    padding-bottom: 3px;
    padding-left: 6px;
    margin-bottom: 3px;
    border-bottom: solid $main 1.5px;
}
.logo__down {
    padding-left: 15px;
    margin-right: -3px;
}